@font-face {
    font-family: "Exodus";
    src: url("../fonts/Exodus-Striped.otf") format("opentype")
}
* {
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding-right: 17px;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: proximity;
    font-family: 'verdana';
    font-size: 2vw;
    text-align: center;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.section {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    padding-right: 17px;
}
.rune {
    position: absolute;
    src: "../images/N.png";
    width: 10vh;
    top: 0vh;
    left: 0vw;
    align-self: center;
    z-index: 5;
}
.d {
    transition: ease-in 1.2s;
    transition-delay: 1s;
    transition-duration: 1.3s;
}
.d:hover {
    -webkit-filter: drop-shadow(0 0 50px rgba(255,255,0,1)) contrast(220%);
    filter: drop-shadow(0px 0px 50px #ffff00) contrast(220%);
    transition: ease-out 1s;
    transition-duration: 0.6s;
}
.nav {
    width:3vw;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}
.nav:hover {
    -webkit-filter: contrast(220%);
    filter: contrast(220%)
}
#intro {
    overflow: hidden;
    background-image: url('../images/intro.png');
    background-color:#010E07;
    background-size: auto 120%;
    background-position: 50% 100%;
}
.intro-Title {
    position: relative;
    float: left;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw;
    letter-spacing: 2vw;
    font-family: "Exodus";
    color: white;
    text-shadow: 0 0 5vh rgba(255, 255, 255, 1);
}
#Title {
    top: 20vh;
}
#desc {
    overflow: hidden;
    background-color: grey;
}
#disc {
    overflow: hidden;
    background-color: cyan;
}
.profilePic {
    position: relative;
    align-content: center;
    height: 10vw;
    width: 10vw;
    background-color: #bbb;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: 0.2vw solid rgb(143, 7, 7);
    font-size: 1.5vw;
    color: rgb(143, 7, 7);
    text-shadow: -1px 0 white, 0 1px WHITE, 1px 0 WHITE, 0 -1px WHITE;
    line-height: 10vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.admin {
    border: 0.2vw solid rgb(143, 7, 7);
    font-size: 1.5vw;
    color: rgb(143, 7, 7);
    line-height: 10vw;
    height: 10vw;
    width: 10vw;
    transition: ease-in-out 0.2s
}
.admin:hover {
    transition: ease-in-out 0.2s;
    width: 12vw;
    height: 12vw;
}
.mentor {
    border: 0.2vw solid rgb(143, 77, 1);
    font-size: 1.1vw;
    color: rgb(143, 77, 1);
    line-height: 8vw;
    height: 8vw;
    width: 8vw;
    transition: ease-in-out 0.2s
}
.mentor:hover {
    width: 10vw;
    height: 10vw;
    transition: ease-in-out 0.2s
}
.image {
    border: 0.2vw solid rgb(33, 182, 4);
    font-size: 0.8vw;
    color: rgb(33, 182, 4);
    line-height: 7vw;
    height: 7vw;
    width: 7vw;
    transition: ease-in-out 0.2s
}
.image:hover {
    width: 9vw;
    height: 9vw;
    transition: ease-in-out 0.2s
}